$c-pink: #b61984;
$c-black: #000000;

$spacing-0: 11.7px;
$spacing-1: 14.85px;
$spacing-2: 50px;
$spacing-p-img: 20px;

$fw-light: 300;
$fw-regular: 400;
$fw-semiBold: 600;
$fw-bold: 700;

$fs-1: 12px;
$fs-2: 13px;
$fs-3: 13.5px;
$fs-4: 0.85rem;
$fs-5: 1rem;
$fs-6: 2rem;
$fs-7: 2.5rem;
$fs-8: 36px;
$fs-9: 3.15rem;
$fs-10: 3.8rem;

$fs-normal:16px;
$fs-intro-small :1.1rem;
$fs-input-placeholder:11px;